fastapi
uvicorn
chromadb
psycopg2
sentence-transformers
pillow
requests
python-multipart
aiohttp
torch --index-url https://download.pytorch.org/whl/cu118
torchvision --index-url https://download.pytorch.org/whl/cu118